#bannerBG {
  background-color: #e1e71b; }

#banner {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin: auto;
  background-color: #e1e71b;
  font-size: 14px;
  color: #6b7007; }
  @media (max-width: 480px) {
    #banner {
      width: 440px; } }
  @media (min-width: 960px) {
    #banner {
      width: 916px; } }
  #banner .banner-parts {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 11px; }
  #banner #left-text {
    margin-left: 23px;
    padding-top: 12px;
    padding-bottom: 12px; }
  #banner #right-text {
    margin-right: 23px;
    padding-top: 12px;
    padding-bottom: 12px; }
  #banner .text-space {
    margin-right: 6px; }
  #banner .banner-btn {
    width: 108px;
    height: 25px;
    background: #a8ae00;
    font-size: 11px;
    color: white;
    padding: 0; }
  #banner #divider {
    background-color: #a8ae00;
    width: 1px;
    height: 46px;
    margin: auto; }

#navBarBG {
  background: #f2f2f2 url(../assets/imgs/bg.png) repeat-y center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#navBar {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin: auto; }
  @media (max-width: 480px) {
    #navBar {
      width: 440px; } }
  @media (min-width: 960px) {
    #navBar {
      width: 916px; } }
  #navBar .no-gut {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0; }
  #navBar #leftImg {
    margin: 22px 0 22px 22px; }
  #navBar #call {
    font-size: 20px;
    color: #787777;
    margin: 36px 30px 0 222px; }
  #navBar #contact {
    width: 207px; }
  #navBar #phone-num {
    font-weight: 600; }
  #navBar #navBtns {
    margin: 11px 0 24px 98px; }
  #navBar #patient-btn {
    height: 30px;
    width: 136px;
    margin-right: 12px;
    background-color: #47c8ab;
    font-size: 11px;
    color: white; }
  #navBar #appointment-btn {
    height: 30px;
    width: 180px;
    background-color: #b3b3b3;
    font-size: 11px;
    color: white; }
  #navBar #navTop {
    background-color: #87e2d1;
    height: 4px; }
  #navBar #navBarList {
    height: 36px;
    padding: 8px 0 12px 0;
    background-color: #47c8ab; }
  #navBar ul {
    background-color: #47c8ab;
    list-style: none;
    padding: 0;
    margin: 0; }
  #navBar li {
    font-weight: 400;
    display: inline;
    color: white;
    font-size: 14px;
    margin-left: 22px;
    margin-right: 22px; }
  #navBar a:hover {
    opacity: .5;
    text-decoration: none; }
  #navBar #hero-img {
    width: 100%; }
  #navBar #hero-text {
    position: relative;
    margin-left: 45px; }
  #navBar #contact-text {
    position: absolute;
    top: -150px;
    font-size: 27px;
    color: #787777; }
  #navBar #info-text {
    position: absolute;
    font-size: 15px;
    color: #787777;
    top: -105px;
    width: 260px; }

#formBG {
  background: #f2f2f2 url(../assets/imgs/bg.png) repeat-y center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#form {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin: auto;
  background-color: #fbfbfb; }
  @media (max-width: 480px) {
    #form {
      width: 440px; } }
  @media (min-width: 960px) {
    #form {
      width: 916px; } }
  #form .no-gut {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0; }
  #form .star {
    font-weight: 800;
    color: #47c8ab; }
  #form #require-text {
    color: #787777; }
  #form #office-text {
    color: #47c8ab;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 22px; }
  #form #text-block {
    margin-top: 34px;
    margin-bottom: 45px;
    width: 500px;
    color: #787777;
    font-size: 11px; }
  #form #location-text {
    margin-top: 30px;
    margin-bottom: 18px;
    width: 200px;
    color: #787777; }
  #form #tel-phone-text {
    color: #787777; }
  @media (min-width: 481px) {
    #form {
      padding-top: 50px; }
      #form #form-main {
        width: 530px; }
      #form #form-left {
        color: #787777;
        font-size: 15px;
        padding-left: 48px; }
      #form #form-text {
        display: inline;
        margin-right: 106px; }
      #form #paitent-form {
        display: inline; }
      #form #form-no {
        margin-left: 20px;
        margin-bottom: 30px; }
      #form .input {
        width: 250px;
        height: 40px; }
      #form input[required] + label {
        color: #aaaaaa;
        position: absolute; }
      #form #first-name {
        margin-right: 20px;
        margin-bottom: 30px; }
      #form #email {
        margin-right: 20px;
        margin-bottom: 30px; }
      #form #first-name-placeholder {
        left: 60px;
        top: 57px; }
      #form #last-name-placeholder {
        left: 335px;
        top: 57px; }
      #form #email-placeholder {
        left: 60px;
        top: 127px; }
      #form #phone-placeholder {
        left: 335px;
        top: 127px; }
      #form #subject {
        width: 524px;
        margin-bottom: 30px;
        color: #aaaaaa; }
      #form #comments-area {
        width: 524px;
        height: 120px;
        margin-bottom: 30px; }
      #form #heard {
        display: inline;
        width: 250px;
        height: 40px;
        color: #aaaaaa;
        margin-right: 20px; }
      #form #details-placeholder {
        left: 335px;
        top: 422px; }
      #form #desktop-form-tail {
        margin-top: 30px; }
      #form #require-text {
        color: #47c8ab;
        width: 135px;
        display: inline; }
      #form #send-btn {
        height: 40px;
        width: 90px;
        background-color: #47c8ab;
        font-size: 15px;
        color: white;
        margin-left: 295px; } }
  @media (max-width: 570px) {
    #form #form-left {
      padding-left: 28px; } }
  @media (max-width: 480px) {
    #form .input {
      width: 400px;
      height: 50px;
      margin-top: 25px;
      margin-bottom: 5px; }
    #form #form-top {
      margin-top: 38px;
      height: 658px;
      font-size: 18px; }
    #form #form-left {
      color: #787777;
      text-align: center;
      margin: auto;
      padding-left: 0px; }
    #form #paitent-form {
      margin-left: 265px; }
    #form input[required] + label {
      color: #aaaaaa;
      position: absolute;
      font-size: 16px;
      left: 32px; }
    #form #first-name-placeholder {
      bottom: 1215px; }
    #form #last-name-placeholder {
      bottom: 1135px; }
    #form #email-placeholder {
      bottom: 1055px; }
    #form #phone-placeholder {
      bottom: 975px; }
    #form #comments-area {
      height: 250px; }
    #form #details-placeholder {
      bottom: 451px; }
    #form #subject {
      margin-left: 20px;
      font-size: 16px;
      color: #aaaaaa; }
    #form #heard {
      margin-left: 20px;
      font-size: 16px;
      color: #aaaaaa; }
    #form #require-text {
      color: #787777;
      text-align: center;
      display: block;
      margin-top: 30px; }
    #form #office-text {
      color: #47c8ab;
      font-size: 18px;
      font-weight: 400;
      margin-top: 50px;
      padding-top: 30px;
      margin-left: 20px;
      width: 75px; }
    #form .form-tail {
      background-color: #fbfbfb; }
    #form #mobile-map {
      padding-bottom: 28px; }
    #form #send-btn {
      height: 50px;
      width: 380px;
      margin-top: 20px;
      background-color: #47c8ab;
      font-size: 15px;
      color: white; } }
  #form input[required] + label:after {
    content: '*';
    color: #47c8ab; }
  #form input[required]:valid + label {
    display: none; }

#footerBG {
  background: #f2f2f2 url(../assets/imgs/bg.png) repeat-y center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#footer {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin: auto;
  height: 70px;
  background-color: #c1c1c1; }
  @media (max-width: 480px) {
    #footer {
      width: 440px; } }
  @media (min-width: 960px) {
    #footer {
      width: 916px; } }
  @media (min-width: 481px) {
    #footer #footer-block {
      margin-top: 16px;
      margin-left: 26px; }
    #footer #footer-text {
      color: white;
      margin-left: 12px;
      font-size: 12px; } }

#greyBG {
  background: #f2f2f2 repeat-y center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100px; }

/*# sourceMappingURL=style.css.map */
