// examples
.notice {
  background: yellow;
  border: 5px solid #000;
  padding: 20px;
  &.alert {
    background: red;
    box-shadow: 0 0 10px red;
  }
  // nested selector
  a {
    color: #222;
    // nest nest selector modifiers
    &:hover {
      color: #313131;
    }
  }
}
// variable
$base: grey;
// string replace
$variable-name: left;
.girder {
  border-#{$variable-name}: 4px solid #ccc;
  h2 {
    font-size: 24px;
  }
}
.notice {
  border-#{$variable-name}: 8px solid #797979;
  a {
    color: #222;
  }
}
// mixins
@mixin assemble($bg: #fff, $pad: 10px) {
  background: $bg;
  border: 1px solid #ccc;
  padding: $pad;
}
.factory {
  @include assemble;
}
.highrise {
  @include assemble($bg: #797979, $pad: 20px);
}
@mixin modal($shadow...) {
  box-shadow: $shadow;
  border: 1px solid #ccc;
}
.modal {
  @include modal(inset 0 0 5px #000, 0 2px 5px #000);
}
// extend
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
.success {
  @extend .message;
  border-color: green;
}
.error {
  @extend .message;
  border-color: red;
}
.warning {
  @extend .message;
  border-color: yellow;
}
// responsive

@mixin respond-to($media) {
  @if $media == desktop {
    @media (min-width: 960px) {
      @content;
    }
  } @else if $media == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
}
.factory {
  width: 100%;
  @include respond-to(desktop) {
    width: percentage(600px / 960px);
    background: red;
  }
  @include respond-to(tablet) {
    width: 50%;
    background: green;
  }
}
