//  Mixins
@mixin no-gutter() {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}
@mixin body-width() {
  @media (max-width: 480px) {
    width: 440px;
  }
  @media (min-width: 960px) {
    width: 916px;
  }
}
@mixin bgGrad() {
  background: #f2f2f2 url(../assets/imgs/bg.png) repeat-y center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin bgBotGrad() {
  background: #f2f2f2 repeat-y center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Shared
$tealColor: #47c8ab;
$tealLiteColor: #87e2d1;
$greyFrontColor: #787777;
$liteGreyColor: #fbfbfb;

// Header Area
$bannerBackgroundColor: #e1e71b;
$bannerFontSize: 14px;
$bannerTextColor: #6b7007;
$bannerBtnColor: #a8ae00;
$bannerBtnFontSize: 11px;
#bannerBG{
  background-color: $bannerBackgroundColor;
}
#banner {
  @include no-gutter;
  @include body-width;
  margin: auto;
  background-color: $bannerBackgroundColor;
  font-size: $bannerFontSize;
  color: $bannerTextColor;
  .banner-parts{
    @include no-gutter;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 11px;
  }
  #left-text {
    margin-left: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  #right-text {
    margin-right: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .text-space {
    margin-right: 6px;
  }
  .banner-btn {
    width: 108px;
    height: 25px;
    background: $bannerBtnColor;
    font-size: $bannerBtnFontSize;
    color: white;
    padding: 0;
  }
  #divider {
    background-color: $bannerBtnColor;
    width: 1px;
    height: 46px;
    margin: auto;
  }
}

// Navigation Area
$navBarBigFontSize: 20px;
$appointmentBtnColor: #b3b3b3;
$navLinksFontSize: 14px;
$contactFontSize: 27px;
$infoFontSize: 15px;
#navBarBG {
  @include bgGrad;
}
#navBar {
  @include body-width;
  @include no-gutter;
  .no-gut {
    @include no-gutter;
  }
  margin: auto;
  // height: 390px;
  #leftImg {
    margin: 22px 0 22px 22px;
  }
  #call {
    font-size: $navBarBigFontSize;
    color: $greyFrontColor;
    margin: 36px 30px 0 222px;
  }
  #contact {
    width: 207px;
  }
  #phone-num {
    font-weight: 600;
  }
  #navBtns {
    margin: 11px 0 24px 98px;
  }
  #patient-btn {
    height: 30px;
    width: 136px;
    margin-right: 12px;
    background-color: $tealColor;
    font-size: $bannerBtnFontSize;
    color: white;
  }
  #appointment-btn {
    height: 30px;
    width: 180px;
    background-color: $appointmentBtnColor;
    font-size: $bannerBtnFontSize;
    color: white;
  }
  #navTop {
    background-color:$tealLiteColor;
    height: 4px;
  }
  #navBarList {
    height: 36px;
    padding: 8px 0 12px 0;
    background-color: $tealColor;
  }
  ul {
    background-color: $tealColor;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    font-weight: 400;
    display: inline;
    color: white;
    font-size: $navLinksFontSize;
    margin-left: 22px;
    margin-right: 22px;
  }
  a:hover {
    opacity: .5;
    text-decoration: none;
  }
  #hero-img{
    width: 100%;
  }
  #hero-text {
    position: relative;
    margin-left: 45px;
  }
  #contact-text {
    position: absolute;
    top: -150px;
    font-size: $contactFontSize;
    color: $greyFrontColor;
  }
  #info-text {
    position: absolute;
    font-size: $infoFontSize;
    color: $greyFrontColor;
    top: -105px;
    width: 260px;
  }
}

// Form Area
$formFontSize: 18px;
$formFontSizeSm: 15px;
$formFontSizeTiny: 11px;
$inputPlaceholdColor: #aaaaaa;
#formBG {
  @include bgGrad;
}
#form {
  @include body-width;
  @include no-gutter;
  margin: auto;
  background-color: $liteGreyColor;
  .no-gut {
    @include no-gutter;
  }
  .star {
    font-weight: 800;
    color: $tealColor;
  }
  // shared view
  #require-text {
    color: $greyFrontColor;
  }
  #office-text {
    color: $tealColor;
    font-size: $formFontSize;
    font-weight: 400;
    margin-bottom: 22px;
  }
  #text-block {
    margin-top: 34px;
    margin-bottom: 45px;
    width: 500px;
    color: $greyFrontColor;
    font-size: $formFontSizeTiny;
  }
  #location-text {
    margin-top: 30px;
    margin-bottom: 18px;
    width: 200px;
    color: $greyFrontColor;
  }
  #tel-phone-text {
    color: $greyFrontColor;
  }
  // desktop view CSS
  @media (min-width: 481px) {
    $placeholderOffsetLeft: 60;
    $placeholderOffsetTop: 57;
    padding-top: 50px;
    #form-main {
      width: 530px;
    }
    #form-left {
    color: $greyFrontColor;
    font-size: $formFontSizeSm;
    padding-left: 48px;
    }
    #form-text {
      display: inline;
      margin-right: 106px;
    }
    #paitent-form{
      display: inline;
    }
    #form-no{
      margin-left: 20px;
      margin-bottom: 30px;
    }
    .input {
      width: 250px;
      height: 40px;
    }
    // placeholder style
    input[required] + label {
      color: $inputPlaceholdColor;
      position: absolute;
    }
    #first-name {
      margin-right: 20px;
      margin-bottom: 30px;
    }
    #email {
      margin-right: 20px;
      margin-bottom: 30px;
    }
    //
    #first-name-placeholder {
      left: $placeholderOffsetLeft + px;
      top: $placeholderOffsetTop + px;
    }
    #last-name-placeholder {
      left: ($placeholderOffsetLeft + 275) + px;
      top: $placeholderOffsetTop + px;
    }
    #email-placeholder {
      left: $placeholderOffsetLeft + px;
      top: ($placeholderOffsetTop + 70) + px;
    }
    #phone-placeholder {
      left: ($placeholderOffsetLeft + 275) + px;
      top: ($placeholderOffsetTop + 70) + px;
    }
    #subject {
      width: 524px;
      margin-bottom: 30px;
      color: $inputPlaceholdColor;
    }
    #comments-area {
      width: 524px;
      height: 120px;
      margin-bottom: 30px;
    }
    #heard {
      display: inline;
      width: 250px;
      height: 40px;
      color: $inputPlaceholdColor;
      margin-right: 20px;
    }
    #details-placeholder {
      left: ($placeholderOffsetLeft + 275) + px;
      top: ($placeholderOffsetTop + 365) + px;
    }
    #desktop-form-tail {
      margin-top: 30px;
    }
    #require-text {
      color: $tealColor;
      width: 135px;
      display: inline;
    }
    #send-btn {
      height: 40px;
      width: 90px;
      background-color: $tealColor;
      font-size: $formFontSizeSm;
      color: white;
      margin-left: 295px;
    }
  }
  // tablet view CSS
  @media (max-width: 570px) {
    $placeholderOffsetLeft: 60;
    $placeholderOffsetTop: 75;
    #form-left {
      padding-left: 28px;
    }
  }
  // phone view CSS
  $placeholderOffset: 1215;
  @media (max-width: 480px) {
    .input {
      width: 400px;
      height: 50px;
      margin-top: 25px;
      margin-bottom: 5px;
    }
    #form-top {
      margin-top: 38px;
      height: 658px;
      font-size: $formFontSize;
    }
    #form-left {
      color: $greyFrontColor;
      text-align: center;
      margin: auto;
      padding-left: 0px;
    }
    #paitent-form {
      margin-left: 265px;
    }
    input[required] + label {
      color: $inputPlaceholdColor;
      position: absolute;
      font-size: 16px;
      left: 32px;
    }
    //placeholder offsets
    #first-name-placeholder {
      bottom: ($placeholderOffset) + px;
    }
    #last-name-placeholder {
      bottom: ($placeholderOffset - 80 ) + px;
    }
    #email-placeholder {
      bottom: ($placeholderOffset - (80 * 2)) + px;
    }
    #phone-placeholder {
      bottom: ($placeholderOffset - (80 * 3)) + px;
    }
    #comments-area {
      height: 250px;
    }
    #details-placeholder {
      bottom: ($placeholderOffset - (80 * 9.55)) + px;
    }
    #subject {
      margin-left: 20px;
      font-size: 16px;
      color: $inputPlaceholdColor;
    }
    #heard {
      margin-left: 20px;
      font-size: 16px;
      color: $inputPlaceholdColor;
    }
    #require-text {
      color: $greyFrontColor;
      text-align: center;
      display: block;
      margin-top: 30px;
    }
    #office-text {
      color: $tealColor;
      font-size: $formFontSize;
      font-weight: 400;
      margin-top: 50px;
      padding-top: 30px;
      margin-left: 20px;
      width: 75px;
    }
    .form-tail {
      background-color: $liteGreyColor;
    }
    #mobile-map {
      padding-bottom: 28px;
    }
    #send-btn {
      height: 50px;
      width: 380px;
      margin-top: 20px;
      background-color: $tealColor;
      font-size: $formFontSizeSm;
      color: white;
    }
  }
  // shared label style
  input[required] + label:after {
    content:'*';
    color: $tealColor;
  }
  input[required]:valid + label{
    display: none;
  }
}

// Footer Area
$footerBGColor: #c1c1c1;
$footerFontSize: 12px;
#footerBG{
  @include bgGrad;
}
#footer{
  @include body-width;
  @include no-gutter;
  margin: auto;
  height: 70px;
  background-color: $footerBGColor;
  @media (min-width: 481px) {
    #footer-block {
      margin-top: 16px;
      margin-left: 26px;
    }
    #footer-text {
      color: white;
      margin-left: 12px;
      font-size: $footerFontSize;
    }
  }
  @media (max-width: 480px) {}
}
#greyBG{
  @include bgBotGrad;
  height: 100px;
}
