//  Mixins
@mixin no-gutter() {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}
// Header Area
$bannerBackgroundColor: #e1e71b;
$bannerFontSize: 14px;
$bannerTextColor: #6b7007;
$bannerBtnColor: #a8ae00;
$bannerBtnFontSize: 12px;
.banner{
  background-color: $bannerBackgroundColor;
}
#banner {
  @include no-gutter;
  background-color: $bannerBackgroundColor;
  font-size: $bannerFontSize;
  color: $bannerTextColor;
  margin: auto;
  width: 916px;
  .container {
     background-color: $bannerBackgroundColor;
     height: 70px;
  }
  .row {
    @include no-gutter;
    margin: 12px 0 12px 0;
  }
  .part{
    @include no-gutter;
    margin: 11px 0 11px 0;
  }
  .btn {
    width: 108px;
    height: 25px;
    background: $bannerBtnColor;
    color: white;
    padding: 0;
    font-size: $bannerBtnFontSize;
    margin-left: 6px;
  }
  #rbanner{
    margin: 23px 0 23px 0px;
  }
  #divider {
    width: 1px;
    background-color: $bannerBtnColor;
    height: 46px;
    margin: auto;
  }
}

// Responsive
//Small devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {
}
